<ion-header>
  <ion-toolbar>
    <ion-grid fixed class="grid_header">
      <ion-col>
        <ion-title>Homepage</ion-title>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
  <ion-row size="3"></ion-row>
  <ion-row size="6">
    <ion-col size="6">
      <ion-card>
        
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>User Login</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-col>
              
              <ion-row size="9">
                <ion-icon name="person-circle" style="zoom:10.0;"></ion-icon>
              </ion-row>
              <ion-row size="3">
                <ion-button class="user_login_button" (click)="goToDashboard()">
                  Log-in
                </ion-button>
              </ion-row>
            </ion-col>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>Maintainence Login</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-col>
              
              <ion-row size="9">
                <ion-icon name="person-circle" style="zoom:10.0;"></ion-icon>
              </ion-row>
              <ion-row size="3">
                <ion-button class="maintainence_login_button" routerLink="/dashboard">
                  Log-in
                </ion-button>
              </ion-row>
            </ion-col>
          </ion-grid> 
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row size="3"></ion-row>
 </ion-grid> 

</ion-content>
