<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-grid fixed class="grid_header">
      <ion-row>
        <ion-col size="1">
          <ion-buttons>
            <ion-menu-button class="menu_button"></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="1" class="header_col1">
          <ion-buttons>
            <button class="home_button" >
              <ion-icon name="home" class="home_icon" style="zoom:2.0;"(click)="goToHome()"></ion-icon>
            </button>
          </ion-buttons>
          
        </ion-col>
        <ion-col size="6">
          <ion-title>
            Mini Factory Dashboard
          </ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-searchbar></ion-searchbar>          
        </ion-col>
        <ion-col size="1" class="header_col4">
          <ion-icon name="language-outline" style="zoom:2.0;"></ion-icon>
        </ion-col> 
       
          
      </ion-row>
    </ion-grid>
  </ion-toolbar>  
</ion-header>

<ion-content >
  <virtual-scroll-element class="ion-content-scroll-host">
  
    <div id="container" class="main_content_div" >
      <ion-grid fixed>
        <ion-col>
          <ion-row  class="user_div">
            <ion-row>
              <div class="first_div">
                <ion-label class="welcome">Welcome to Mini Factory !!</ion-label>
              </div>
            </ion-row>
            <ion-row>
              <ion-card class="second_div">
                <ion-img src="../../assets/Images/3009.jpg" class="factory_img"></ion-img>
              </ion-card>
            </ion-row>  
          </ion-row>  
          <ion-row >
            <ion-col size="4">
              <ion-card class="product_1">
                <ion-card-header>
                  <ion-card-subtitle>Product 1</ion-card-subtitle>
                  <ion-card-title>Yogurt</ion-card-title>
                  <ion-icon name="pint"></ion-icon>
                </ion-card-header>
              
                <ion-card-content>
                  <ion-item>
                    <ion-label>Select Flavour</ion-label>
                    <ion-select>
                      <ion-select-option value="blueberry">Blueberry</ion-select-option>
                      <ion-select-option value="vanilla">Vanilla</ion-select-option>
                      <ion-select-option value="choclate">Choclate</ion-select-option>
                      <ion-select-option value="mango">Mango</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="product_2">
                <ion-card-header>
                  <ion-card-subtitle>Product 2</ion-card-subtitle>
                  <ion-card-title>Juice</ion-card-title>
                  <ion-icon name="nutrition"></ion-icon>
                </ion-card-header>
              
                <ion-card-content>
                  <ion-item>
                    <ion-label>Select Fruit</ion-label>
        
                    <ion-select>
                      <ion-select-option value="apple">Apple</ion-select-option>
                      <ion-select-option value="pineapple">Pineapple</ion-select-option>
                      <ion-select-option value="orange">Orange</ion-select-option>
                      <ion-select-option value="mixed_fruit">Mixed Fruit</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="product_3">
                <ion-card-header>
                  <ion-card-subtitle>Product 3</ion-card-subtitle>
                  <ion-card-title>Ice-Cream</ion-card-title>
                  <ion-icon name="ice-cream"></ion-icon>
                </ion-card-header>
              
                <ion-card-content>
                  <ion-item>
                    <ion-label>Select Flavour</ion-label>
                    <ion-select>
                      <ion-select-option value="vanilla">Vanilla</ion-select-option>
                      <ion-select-option value="choco_chips">Choco Chip</ion-select-option>
                      <ion-select-option value="strawberry">Strawberry</ion-select-option>
                      <ion-select-option value="butter_scotch">Butter_scotch</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
            
          </ion-row>
          <ion-row size="12">
            <ion-card class="progress_tab">
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>Production Progress Tab</ion-card-title>

              </ion-card-header>
            
              <ion-card-content>
                <ion-progress-bar value="0.5"></ion-progress-bar>
                
              </ion-card-content>
            </ion-card>
          </ion-row>
          
        </ion-col>
      </ion-grid>

    </div>
  </virtual-scroll-element> 
</ion-content>

